.modal {
    display: none; /* Cache le modal par défaut */
    position: fixed; /* Reste en place */
    z-index: 1; /* Au-dessus de tout le contenu */
    left: 0;
    top: 0;
    width: 100%; /* Largeur de 100% */
    height: 100%; /* Hauteur de 100% */
    overflow: auto; /* Active le défilement si nécessaire */
    background-color: rgb(0,0,0); /* Couleur de fond noire */
    background-color: rgba(0,0,0,0.4); /* Noir avec transparence */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% du haut et centré */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Largeur du modal */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  