@charset "UTF-8";

/* ملف التصميم CSS للملف Fet_24692N_2A_16.fet
   التصميم انتج بواسطة FET 6.9.5 في 18‏/9‏/2023 8:45 ص */

/* لجعل صفحة فاصلة(page-break) بعد كل جدول ثانٍ، احذف "page-break-befor: always;"في "table.even_table". */
/* حذف "page-break-before: always;" في "table.even_table" و في "table.odd_table" لتخطي page-breaks. */
/* لإخفاء عنصر يكفي كتابة الجملة التالية داخل العنصر: "display: none;" (بدون مزدوجتين). */

p.back {
  margin-top: 4ex;
  margin-bottom: 5ex;
}

table {
  text-align: center;
  page-break-inside: avoid;
}

table.odd_table {
  page-break-before: always;
}

table.even_table {
  page-break-before: always;
}

table.detailed {
  margin-left: auto; margin-right: auto;
  text-align: center;
  border: 0px;
  border-spacing: 0;
  border-collapse: collapse;
}

caption {

}

thead {

}

/* بعض البرامج تستورد "tfoot" بشكل غير صحيح. لذلك نستخدم "tr.foot" بدلا من "tfoot". */

tr.foot {

}

tbody {

}

th {

}

td {

}

td.detailed {
  border: 1px dashed silver;
  border-bottom: 0;
  border-top: 0;
}

th.xAxis {
/* width: 8em; */
}

th.yAxis {
  height: 8ex;
}

/* تصميم جدول الفترات الحرة للمدرسين */

div.DESCRIPTION {
  text-align: left;
  font-size: smaller;
}

/* نهاية الملف. */
