.table-container {
  max-height: 400px; /* Hauteur maximale du conteneur du tableau */
  overflow: auto; /* Ajouter des barres de défilement si le contenu dépasse */
}
table {
  border-collapse: collapse;
  width: 100%;
  height: 100%;
  overflow-x: auto;
}

th, td {
  border: 2px solid #000;
  padding: 8px;
  text-align: center;
  width: auto;
}
.text-center {
  display: flex;
  justify-content: center; /* Centre horizontalement */
  align-items: center;     /* Centre verticalement */
}
div {
  width: auto;
}
