/* Styles de base pour les cartes */
.card {
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

.card-header {
  font-size: 1.25rem;
  font-weight: bold;
  padding: 10px 15px;
  margin: 0;
  box-sizing: border-box;
}

.card-body {
  padding: 1.5rem;
}

/* Style pour les titres */
.card-title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

/* Styles pour les tableaux */
.table {
  margin-bottom: 0;
}

.table-bordered td,
.table-bordered th {
  border: 1px solid #dee2e6;
}

/* Flexbox layout */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Appliquer une marge aux colonnes */
.col-md-6 {
  margin-bottom: 20px;
}

/* Style pour le bouton d'affichage/masquage */
.toggle-btn {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-left: 10px;
  transition: transform 0.3s;
}

.toggle-btn:focus {
  outline: none;
}

.toggle-btn:hover {
  transform: scale(1.1);
}

/* Alignement du bouton avec le titre */
.card-header h3 {
  display: inline-block;
  margin: 0;
}

/* Style pour les heures dans le tableau de service */
.time-header {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Style pour la colonne des jours */
.day-column, .day-header {
  background-color: #28a745;
  color: white;
  font-weight: bold;
  text-align: center;
}

/* Cellules vides */
.empty-cell {
  background-color: #e9ecef;
}

/* Style pour la séance en cours */
/* Style pour la séance en cours */
.current-session {
  background-color: #ffcc00; /* Couleur de fond plus vive */
  font-weight: bold; /* Mettre en gras */
  border: 2px solid #ffc107; /* Bordure pour distinguer */
  color: #000; /* Couleur du texte plus sombre */
}
.current-session:hover {
  background-color: #ffd600; /* Couleur différente au survol */
  transform: scale(1.05); /* Léger agrandissement au survol */
}   



/* .current-session {
  background-color: #ffcccb; 
  color: #333; 
  font-weight: bold; 
} */

