<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">App-Fet-To-Table</a>
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-trigger" routerLink="/all-professor" data-target="dropdown1">Professors<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" routerLink="/all-student" data-target="dropdown2">Students<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" routerLink="/all-room" data-target="dropdown3">Rooms<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a class="dropdown-trigger" routerLink="/prof-global"  data-target="dropdown4">Global<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>
<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/all-professor">All Prof</a></li>
  <li><a href="#!">Select prof</a></li>
</ul>
<ul id="dropdown2" class="dropdown-content">
  <li><a routerLink="/all-student">All Student</a></li>
  <li><a href="#!">Select Student</a></li>
</ul>
<ul id="dropdown3" class="dropdown-content">
  <li><a routerLink="/all-room">All rooms</a></li>
  <li><a href="#!">Select room</a></li>
</ul>
<ul id="dropdown4" class="dropdown-content">
  <li><a routerLink="/prof-global">Profs</a></li>
  <li><a href="#!">Student</a></li>
  <li><a href="#!">Room</a></li>
</ul>
<router-outlet></router-outlet>

