<div class="row" *ngIf="pokemon">
    <div class="col s12 m8 offset-m2">
        <h2 class="header center">{{pokemon.name}}</h2>
        <div class="card horizontal hoverable">
            <div class="card-image">
                <img [src]="pokemon.picture">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <table class="bordered striped">
                        <tbody>
                            <tr>
                            <th>Name</th>
                            <td>{{pokemon.name}}</td>
                            </tr>
                            <tr>
                            <th>Health points</th>
                            <td>{{pokemon.hp}}</td>
                            </tr>
                            <tr>
                            <th>Damage</th>
                            <td>{{pokemon.cp}}</td>
                            </tr>
                            <tr>
                            <th>Types</th>
                            <td><span *ngFor="let type of pokemon.types " class ="{{type | pokemonTypeColor}}">{{type}}</span></td>
                            </tr>
                            <tr>
                            <th>Date</th>
                            <td>{{pokemon.created | date : "dd/MM/yyyy"}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a (click)="toBack()">Previous</a>
                    <a (click)="goEditToPokemon(pokemon)">Editer</a>
                    <a (click)="goDeleteToPokemon(pokemon)">Delete</a>
                </div>
            </div>
        </div>
    </div>
</div>
<h4 *ngIf='!pokemon' class="center">
  <app-loader></app-loader>
</h4>
